@import 'common';

#init-img{
  display: flex;
  justify-content: center;
  img{
    max-width: 40%;
    max-height: 40%;

  }

}

.img-collection{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: transform 0.4s ease-in-out;
  img{
    flex-grow: 2;
    padding: 2%;
    transition: transform 0.4s ease-in-out;
    :hover {
      transform: scale(1.3);
    }
  }
}

@media only screen and (max-width: 320px) {
  .icon-container a{
    min-width: 22%;
    padding-left: 3%;
  }
  .footer-copyright{
    padding-right: 3%;
  }
}

@media only screen and (max-width: 480px)  {
  .icon-container a{
    min-width: 22%;
    padding-left: 3%;
  }
  .footer-copyright{
    padding-right: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .icon-container a{
    min-width: 22%;
    padding-left: 3%;
  }
  .footer-copyright{
    padding-top: 1%;
    padding-right: 3%;
  }
}